<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Register</title>
</head>

<body>
    <%- include('./partials/header', { currentUser }) %>
    <div class="container">
        <h1>Your Formal Education</h1>
        <form action="/education/<%= currentUser._id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="type">Type of qualification</label>
                <select name="education[currentUser.education.length][type]" id="type" class="form-control">
                    <option value="Diploma">Diploma</option>
                    <option value="Bachelor's">Bachelor's Degree</option>
                    <option value="Master's">Master's Degree</option>
                    <option value="PhD">PhD</option>
                </select>
            </div>
            <div class="form-group">
                <label for="major">Major</label>
                <input type="text" name="education[currentUser.education.length][major]" id="major" class="form-control">
            </div>
            <div class="form-group">
                <label for="institute">Institute</label>
                <input type="text" name="education[currentUser.education.length][institute]" id="institute" class="form-control">
            </div>
            <div class="form-group">
                <label for="graduation-date">Graduation Date</label>
                <input type="date" name="education[currentUser.education.length][graduation-date]" id="graduation-date" class="form-control">
            </div>
            <div class="form-group">
                <label for="documentation">Documentation</label>
                <input type="file" name="documentation" id="documentation" class="form-control-file">
            </div>
            <% if(typeof currentUser.education === 'object') { %>
            <% currentUser.education.forEach((education, index) => { %>
                <div class="form-group">
                    <label for="type">Type of qualification</label>
                    <select name="education[0][type]" id="type" class="form-control">
                        <option value="Diploma" <%= education.type === 'Diploma' && 'selected' %> >Diploma</option>
                    <option value="Bachelor's" <%= education.type === "Bachelor's" && 'selected' %>>Bachelor's Degree</option>
                    <option value="Master's" <%= education.type === "Master's" && 'selected' %>>Master's Degree</option>
                    <option value="PhD" <%= education.type === 'PhD' && 'selected' %>>PhD</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="major">Major</label>
                    <input type="text" name="education[0][major]" id="major" class="form-control" value="<%= education.major %>>
                </div>
                <div class="form-group">
                    <label for="institute">Institute</label>
                    <input type="text" name="education[0][institute]" id="institute" class="form-control" value="<%= education.institute %>">
                </div>
                <div class="form-group">
                    <label for="graduation-date">Graduation Date</label>
                    <input type="date" name="education[0][graduation-date]" id="graduation-date" class="form-control" value="<%= education['graduation-date'] %>">
                </div>
                <div class="form-group">
                    <label for="documentation">Documentation</label>
                    <a href="<%= education.documentation %>">Documentation</a>
                    <input type="file" name="documentation" id="documentation" class="form-control-file" value="<%= education.documentation %>">
                </div>
            <% }) %>
            <% } %>
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="/memberdashboard/" class="btn btn-danger">Cancel</a>
        </form>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>
