<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Addiction-related Training</title>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="container">
        <h1>Your Addiction-related Training</h1>
        <form action="/training/<%= currentUser._id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="type">Name of Training</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="name" class="input-group-text">Name</label>
                    </div>
                    <input type="text" name="training[0][name]" id="name-0" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="name" class="input-group-text">Number of Hours</label>
                    </div>
                    <input type="number" name="training[0][numberOfHours]" id="name-0" class="form-control">
                </div>
                <span class="form-text text-muted">If unsure, 1 full day training counts as 8 hours</span>
            </div>
            <div class="form-group">
                <label for="date">Date Attended</label>
                <input type="date" name="training[0][date]" id="date-0" class="form-control">
            </div>
            <div class="form-group">
                <label for="documentation">Documentation</label>
                <input type="file" name="documentation" id="documentation" class="form-control-file">
            </div>

            <% if(typeof currentUser.training === 'array') { %>
            <% currentUser.training.forEach((training, index) => { %>
                <div class="form-group">
                    <label for="type">Name of Training</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="name" class="input-group-text">Name</label>
                        </div>
                        <textarea name="training[0][name]" id="name-0" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="name" class="input-group-text">Number of Hours</label>
                        </div>
                        <input type="number" name="training[0][numberOfHours]" id="name-0" class="form-control">
                    </div>
                    <span class="form-text text-muted">If unsure, 1 full day training counts as 8 hours</span>
                </div>
                <div class="form-group">
                    <label for="date">Date Attended</label>
                    <input type="date" name="training[0][date]" id="date-0" class="form-control">
                </div>
                <div class="form-group">
                    <label for="documentation">Documentation</label>
                    <input type="file" name="documentation" id="documentation" class="form-control-file">
                </div>
            <% }) %>
            <% } %>
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="/memberdashboard/<%= currentUser._id %>" class="btn btn-danger">Cancel</a>
        </form>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>
