<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Register</title>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="container">
        <h1>Your Formal Education</h1>
        <form action="/education/<%= _id %>" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="type">Organisation</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="name" class="input-group-text">Name</label>
                    </div>
                    <textarea name="experience[0][organisation][name]" id="name-0" class="form-control"></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label for="address" class="input-group-text">Address</label>
                    </div>
                    <textarea name="experience[0][organisation][address]" id="address-0"
                        class="form-control"></textarea>
                </div>
                <div class="input-group mb3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            Country
                        </span>
                    </div>
                    <%- include('./partials/countries.ejs', { name: 'experience[0][organisation][country]' }) %>
                </div>
            </div>
            <div class="form-group">
                <label for="role">Role(s)</label>
                <input type="text" name="experience[0][role]" id="role-0" class="form-control">
                <span class="form-text text-muted">In hours: 1 year counts for 2000 hours</span>
            </div>
            <div class="form-group">
                <label for="duration">Duration</label>
                <input type="text" name="experience[0][duration]" id="duration-0" class="form-control">
            </div>
            <div class="form-group">
                <label for="documentation">Documentation</label>
                <input type="file" name="documentation" id="documentation" class="form-control-file">
            </div>
            
            <% if(typeof experience !== 'undefined') { %>
            <% experience.forEach((experience, index) => { %>
                <div class="form-group">
                    <label for="type">Organisation</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="name" class="input-group-text">Name</label>
                        </div>
                        <textarea name="experience[<%= index %>][organisation][name]" id="name-<%= index %>" class="form-control"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label for="address" class="input-group-text">Address</label>
                        </div>
                        <textarea name="experience[<%= index %>][organisation][address]" id="address-<%= index %>"
                            class="form-control"></textarea>
                    </div>
                    <div class="input-group mb3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Country
                            </span>
                        </div>
                        <%- include('./partials/countries.ejs', { name: `experience[${index}][organisation][country]` }) %>
                    </div>
                </div>
                <div class="form-group">
                    <label for="role">Role(s)</label>
                    <input type="text" name="experience[<%= index %>][role]" id="role-<%= index %>" class="form-control">
                    <span class="form-text text-muted">In hours: 1 year counts for 2000 hours</span>
                </div>
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input type="text" name="experience[<%= index %>][duration]" id="duration-<%= index %>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="documentation">Documentation</label>
                    <input type="file" name="documentation" id="documentation" class="form-control-file">
                </div>
            <% }) %>
            <% } %>
            <input type="submit" value="Save and Next">
        </form>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>
